.form-container{
    width: 600px;
    margin: 10px auto;
    background-color: white;
}

body{
    background-color: #eee;
}

.form-header{
    background: #e55e47;
}

.form-header h2 {
    color: white;
    line-height: 1.618em;
    font-size: 1.714em;
    font-weight: 400;
}

.form-body{
    padding: 2px 5px;
}
.tab-content.card-body {
    padding: 11px 0 0;
}
#question {
    position: relative;
}

#question #div_id_question {
    flex-basis: 100%;
}

#question #div_id_question textarea#id_question {
    height: 70px;
}

#question #div_id_image .form-control.custom-file {
    display: none;
}

#question label[for='id_image'] {
    position: absolute;
    transform: translateY(-50%);
    right: 4px;
    font-size: 5px;
    padding: 2px 5px;
    border: 1px solid #6c757d;
    cursor: pointer;
    margin-top: -50px;
}

div#settings input, div#settings select {
    margin: 14px 0px;
}
div#settings select {
    cursor: pointer
} 
div#settings select:hover {
    background-color: #f1f1f1;
}
#settings textarea#id_summary {
    height: 300px;
}