{% extends 'todo/base.html' %}
{% block content %}
<div class="form" style="width: 80%;">
    <legend style="font-size: 23px; color:#607d8b;"> Password reset sent</legend>
    <hr style="border: .1px solid #9e9e9e;margin-top: 15px;margin-bottom: 15px;">
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>
{% endblock content %}